% rebase('base.html')


    <style>                          <!--malo lepse oblikujemo tabele-->

    table { 
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      text-align: left;
      padding: 8px;
    }
    th {
      background-color: #4CAF50;
      color: white;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  </style>


<h4 style="float:right;">Preostanek denarja: {{denar[0]}}M €</h4>
<!--<h4 >Stevilo igralcev v MojaEkipa: {{stevilo_igralcev[0]}}</h4> -->

<h2>Kupljeni igralci:</h2>

<head>
  <title>Poišči igralca</title>
</head>

<table class="table">
    <tr>
      <td></td>
      <td>Igralec</td>
      <td>Datum rojstva</td>
      <td>Igralni položaj</td>
      <td>FIFA ocena</td>
      <td>Boljša noga</td>
      <td>Cena(v M€)</td>
      <td>Prodaj</td>
    </tr>
    %for i, (id, ekipa_id, igralec, datum_rojstva, polozaj_y, rating, boljsa_noga, cena) in enumerate(moji_igralci):
    <tr>
      <td>{{i + 1}}</td>
      <td>{{igralec}}</td>
      <td>{{datum_rojstva}}</td>
      <td>{{poz[polozaj_y]}}</td>
      <td>{{rating}}</td>
      <td>{{boljsa_noga}}</td>
      <td>{{cena}}</td>
      <td>
            <form action="{{f'prodaj/{id}'}}" method="post">
                <button type="submit">prodaj</button>
            </form>
      </td>
    </tr>
    %end
  </table>



<h2>Poišči igralca</h2>

<h6>Filtriraj glede na ime igralca:</h6>
<form action="/naredi_ekipo" method="post" class="search-form">
    <label for="igralec">Ime igralca:</label>
    <input type="text" id="igralec" name="igralec" placeholder="Vnesi ime igralca">
  
    <h6>Filtriraj glede na pozicijo:</h6>
    <div class="checkbox-group">
      <input type="checkbox" id="vratar" name="vratar" value="vratar" checked>
      <label for="vratar">Vratar </label>
      <input type="checkbox" id="branilec" name="branilec" value="branilec" checked>
      <label for="branilec">Branilec </label>
      <input type="checkbox" id="vezist" name="vezist" value="vezist" checked>
      <label for="vezist">Vezist </label>
      <input type="checkbox" id="napadalec" name="napadalec" value="napadalec" checked>
      <label for="napadalec">Napadalec </label>
    </div>
  
    <h6>Filtriraj glede na klub:</h6>
    <label for="klub">Ime kluba:</label>
    <input type="text" id="klub" name="klub" placeholder="Vnesi ime kluba">
  
    <h6>Filtriraj glede na ceno:</h6>
    <div class="checkbox-group">
      <input type="checkbox" id="manj20" name="manj20" value="manj20">
      <label for="manj20">cenejsi od 20M€ </label>
      <input type="checkbox" id="manj40" name="manj40" value="manj40">
      <label for="manj40">cenejsi od 40M€ </label>
      <input type="checkbox" id="manj60" name="manj60" value="manj60">
      <label for="manj60">cenejsi od 60M€ </label>
      <input type="checkbox" id="manj80" name="manj80" value="manj80">
      <label for="manj80">cenejsi od 80M€ </label>
      <input type="checkbox" id="manj100" name="manj100" value="manj100">
      <label for="manj100">cenejsi od 100M€ </label>
    </div>
  
    <button type="submit">Search</button>
  </form>


      
<table class="table">
    <tr>
      <td>Igralec</td>
      <td>Datum rojstva</td>
      <td>Ime ekipe</td>
      <td>Igralni položaj</td>
      <td>FIFA ocena</td>
      <td>Boljša noga</td>
      <td>Cena(v M€)</td>
      <td>Kupi</td>
    </tr>
    %for (id, igralec, datum_rojstva, ime_ekipe, kratko_ime_ekipe, polozaj_x, polozaj_y, rating, boljsa_noga, cena) in igralci:
    <tr>
      <td>{{igralec}}</td>
      <td>{{datum_rojstva}}</td>
      <td>{{ime_ekipe}}</td>
      <td>{{poz[polozaj_y]}}</td>
      <td>{{rating}}</td>
      <td>{{boljsa_noga}}</td>
      <td>{{cena}}</td>
      <td>
        <form action="{{f'kupi/{id}'}}" method="post">
            <button type="submit">kupi</button>
        </form>
    </tr>
    %end
  </table>


